@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #202731;
}
::-webkit-scrollbar-thumb {
  background: #01b4e4;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #90cea1;
}
