@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0A0A0C;
}
::-webkit-scrollbar-thumb {
  background: #7c4dff;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e040fb;
}
